{% extends 'base.html' %}

{% block title %} About VTM {% endblock %}


{% block body %} 

<h1> About Vertical Tank Maintenance </h1>
<hr>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum dignissimos dolorum hic similique cumque mollitia at 
    fuga amet totam quasi! Asperiores quisquam debitis blanditiis maiores accusamus veritatis neque fugit commodi. Lorem, 
    ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio et commodi praesentium beatae minima vero? Laborum
     sint sunt quibusdam eligendi possimus, iste fugiat optio perferendis, necessitatibus reprehenderit dolorum distinctio.</p>
<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor
    pretium viverra. Ultrices in iaculis nunc sed augue. Condimentum mattis pellentesque id nibh. Quis vel eros donec ac odio. 
    Magna eget est lorem ipsum. Amet nisl purus in mollis nunc. Pellentesque habitant morbi tristique senectus et netus.
     Nunc non blandit massa enim. Non quam lacus suspendisse faucibus interdum posuere lorem. Sit amet cursus sit amet. 
     Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Nulla aliquet porttitor lacus luctus accumsan. Aliquet 
     lectus proin nibh nisl condimentum id venenatis a. Vitae sapien pellentesque habitant morbi. Enim sed faucibus turpis in.</p>
     
<p> Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Habitasse platea dictumst vestibulum rhoncus est 
    pellentesque elit. Tempus quam pellentesque nec nam aliquam sem et tortor.Amet consectetur adipiscing elit duis tristique 
    sollicitudin nibh. Suscipit adipiscing bibendum est ultricies integer. Sit amet nisl suscipit adipiscing bibendum est. 
    Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Vitae sapien pellentesque habitant morbi tristique senectus
     et. Amet venenatis urna cursus eget. Posuere morbi leo urna molestie at elementum. Purus sit amet volutpat consequat. 
     Commodo quis imperdiet massa tincidunt. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Tincidunt lobortis 
     feugiat vivamus at augue eget arcu dictum. Dictum varius duis at consectetur lorem. Quis risus sed vulputate odio. </p>
     
<p>Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Mattis nunc sed blandit libero volutpat sed cras ornare. 
    Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Tellus rutrum tellus pellentesque eu tincidunt.
     Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Et malesuada fames ac turpis egestas. A iaculis at erat 
     pellentesque adipiscing. Lacus suspendisse faucibus interdum posuere. Nullam ac tortor vitae purus faucibus. Eu turpis 
     egestas pretium aenean pharetra magna ac placerat vestibulum. Duis ut diam quam nulla porttitor massa id neque. Cursus euismod 
     quis viverra nibh cras pulvinar mattis nunc. Ac felis donec et odio pellentesque diam volutpat commodo. Ligula ullamcorper
      malesuada proin libero nunc consequat interdum. Aliquam vestibulum morbi blandit cursus. </p>

{% endblock %}