{% extends 'base.html' %}

{% block title %} 
Welcome to the home page 
{% endblock %}
{% block body %} 
<h1> Welcome to VTM! </h1>
<hr>
<div class="photo">
    <img src="{{ url_for('static', filename='css/above_ground_vertical_tanks.jpg') }}" />
</div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum dignissimos dolorum hic similique cumque mollitia at 
    fuga amet totam quasi! Asperiores quisquam debitis blanditiis maiores accusamus veritatis neque fugit commodi. Lorem, 
    ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio et commodi praesentium beatae minima vero? Laborum
     sint sunt quibusdam eligendi possimus, iste fugiat optio perferendis, necessitatibus reprehenderit dolorum distinctio.</p>

{% endblock %}